.head {
    margin-left: -38px;
}

.donate-form {
    /* padding: 24px; */
    padding-bottom: 24x;
    margin-left: 12px;
}

.para {
    text-align: start;
    margin-bottom: 36px;
}

.form {
    text-align: start;
    padding-left: 16px;
}

#form-field {
    position: absolute;
    left: 25%;
    border-radius: 6px;
    /* height: 24px; */
    line-height: 24px;
}

.desc {
    width: 350px;
    /* height: 75px; */
    
}

.mail {
    width: 350px;
}

.des {
    /* padding-bottom: 48px; */
    margin-bottom: 2rem;
}

.btn{
    margin-top: 5.1rem;
    padding: 8px;
    padding-right: 48px;
    padding-left: 48px;
    font-size: medium;
    font-weight: bold;
    /* background-color: #568f19db; */
    background-color: #ff3627;
    color:white;
    margin-left: -20px;
    cursor: pointer;
    border-radius: 6px;
    border: black solid 1px;
}