.item {
  margin: 1rem 0;
}

.content {
  /* background-color: #485fb2; */
  background: linear-gradient(to right bottom, #274547, #010b31, #111e1f);

  border: 2px solid rgb(32, 3, 82);
  text-align: left;
  /* padding: 1rem; */
   /* font-size: 1.25rem; */
  /* color: #2c292b; */
  color: white;
  display: block;
  font: inherit;
  border-radius: 8px;
  /* border: 1px solid #ccc; */
  padding: 0.5rem;
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0.25em 0.25em 0.25em;
}

.nameHead {

}

.scoreHead {

}

.DescriptionPara {

}

.btnholder {

}