.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  padding: 0 10%;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.footer li {
  margin-left: 3rem;
}

.footer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}