.AdminLayout {
  background: linear-gradient(to bottom, #111e1f, #010b31, #111e1f);
}
 
.layoutVisitor {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 4px;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  color: #d0cece;
  background: linear-gradient(to bottom, #111e1f, #010b31, #111e1f);
}

.navbarHome {
  height: 100px;
  margin-bottom: 1px;
  z-index: 1;
}

.theBodyOfHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  position: relative;
  top: 100px;
  margin-top: 8px;
  margin-bottom: 48px;  

}

.logOutBtn {
  position: relative;
  bottom: 24px;

}

.AdminNavBar {
  margin-bottom: 24px;
}

.AdminBody {
  margin-top: 101px;
  min-height: calc(100vh - 125px);
  height: fit-content;
  padding-bottom: 24px;
  color: white;
  /* padding-top: 24px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-bottom: 24px; */
}