
.AllBlogsList{
    display: grid;
    grid-template-columns: auto auto auto;
    /* width: 90%; */
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 1165px){
    .AllBlogsList{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 840px){
    .AllBlogsList{
        grid-template-columns: auto;
    }
}


/* .AllBlogsCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: stretch;
    width: 100%;
    align-self: center;
    margin-bottom: 12px;
    align-items: center;
    align-content: center;
}

.AllBlogsPageHeadline {
    padding-left: 24px;
    text-align: start;
    width: 100%;
    margin: 0px;
}

.AllBlogsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;    margin: auto;
    flex-wrap: wrap;
}

.OneBlog {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-items: stretch;
    margin: auto;
    padding: 24px;
    justify-content: stretch;
} */
