.biala {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #111e1f, #010b31, #111e1f);
}
.LoginFormCont {
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    top: calc(50vh - 150px);
    border: 2px solid #4c3975;
    border-radius: 6px;
    background: linear-gradient(to left bottom, #274547, #010b31, #111e1f);
    color: white;
}

.LoginTitle {
    position: relative;
    text-align: center;
    margin-top: 24px;
}

.LoginFormLabel {
    position: relative;
    left: 24px;
    color: white;
}

.EmailInput {
    position: relative;
    margin: auto;
    height: 32px;
    width: 250px;
    border-radius: 6px;
    margin-top: 8px;
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;  
}

.PassInput {
    position: relative;
    margin: auto;
    height: 32px;
    width: 250px;
    border-radius: 6px;
    margin-top: 8px;
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;  
}

.LoginButtonCont {
    justify-content: center;
    align-items: center;
}

.LoginButton {
    position: relative;
    left: calc(50% - 36px);
    width: 72px;
    height: 32px;
    background-color: #411b93;
    cursor: pointer;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
    border: 0;
    margin-top: 18px;
}