.EventEditCont {
    width: 100%;
    flex-direction: row;
    grid-template-columns: auto;
    justify-content: left;
    align-items: left;
    height: 100px;
}

.EventTitle{
    position: relative;
    width: 260px;
}

.EventDeleteButton {
    position: relative;
    float: right;
    right: 0.5px;
    top: 10px; 
    height: 35px;
    width: 120px;
    margin-left: 9px;
    margin-right: 4px;
    background-color: red;
    color: white;
    border-radius: 4px;
}

.PreviousDetails {
    text-align: start;
    margin-bottom: 8px;
    margin-left: 8px;
}

.NewEventDetailsLabel {
    text-align: start;
    margin-right: 12px;
}

.InputAndBtnCont {
    width: 450px;
    display: flex;
    flex-direction: row;
}

.NewEventDetailsInput {
    height: 22px;
    position: relative;
    right: 0;
    justify-self: end;
    width: 250px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.NewEventDetailsBtn {
    height: 22px;
    position: relative;
    float: right;
    color: white;
    margin-right: 6px;
    margin-left: 16px;
    background: red;
    border-radius: 4px;
}