.EventCompCont {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: solid rgb(77, 9, 44);
    margin: 6px;
    box-shadow: -0.25em 0.25rem 0.25em rgb(87, 10, 49);
    /* background-color: #0d2135; */
    background-color: #111e1f;
    color: #d0cece;
}

.EventCompImgDiv {
    margin: 6px;
}

.EventCompSummaryDiv {
    /* flex-basis: 66%; */
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    width: 256px;
}

#eventImg {
    width: 275px;
    height: 256px;
}

.EventCompHeadline {
    margin-top: 5px;
    margin-bottom: 7px;
}

.cont {
    height: 12px;
    align-self: flex-end;
}

.ContReadingLink {
    text-decoration: none;
    color: rgb(0, 119, 128);
    font-size: 17px;
}

#icon {
    font-size: 14px;
}

.EventPageLinkBlock {
    border-bottom: 2px solid #111e1f;
}