.item {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font: inherit;
}


.button {
  font: inherit;
  cursor: pointer;
  background-color: ##fcb8d2;
  color: black;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}