.footer--pin{
    background-color: #ECEFF1;
}
/* .d-flex justify-content-between p-4 text-white{ */
.sec1{
    background-color: #21D192;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
/* .me-5{
    padding: ;
} */
/* .mb-4 mt-0 d-inline-block mx-auto{ */
.hr1{
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
    margin-bottom: 4;
    margin-top: 0;
    display: inline-block;
    max-width: auto;
}
/* .text-white me-4 */
.text1{
    color: white;
}
/* .container text-center text-md-start mt-5 */
.containerA{
    text-align: center;
    text-align: start;
}
/* .col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 */
/* .div0{ */
    /* columns: 3; */
/* } */
/* text-uppercase fw-bold */
.h6A{
    text-transform: uppercase;
    font-weight: bold;
}
/* col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 */
/* .divB{ */
    /* columns: 2; */
/* } */
/* mb-4 mt-0 d-inline-block mx-auto */
.mb-4 mt-0 d-inline-block mx-auto{
    margin-bottom: 4px;
    margin-top: 0;
    display: inline-block;
    max-width: auto;
}
/* text-center p-3 */
.divC{
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}
/* .text-dark{
    
} */
