.event-comp {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid 1px rgb(186, 16, 16);
    
    /* border: 1px solid black; */
    /* border: 2px solid green; */

    /* border-radius: 12px; */
    margin: 12px;
    height: fit-content;
    /* border-radius: 16px; */
    /* border-top-left-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    box-shadow: -0.25em 0.25rem 0.25em rgb(58, 58, 58);
    /* background: linear-gradient(to bottom, #538d22, #3f6516); */
    /* background: linear-gradient(to bottom, #7bd132, #509821); */
    /* background-color: #273234; */
    background-color: #0a1113;


    color: #d0cece;

}

.event-img {
    flex-basis: 33%;
    margin: 6px;
    /* border-left: 1px solid black;     */
}

.event-summary {
    flex-basis: 66%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

#eventImg {
    width: 200px;
    height: 200px;
}

.cont {
    height: 12px;
    align-self: flex-end;
}

a {
    text-decoration: none;
    color: aquamarine;
    font-size: 17px;
    /* text-align: center; */
}

#icon {
    font-size: 14px;
}